ul li{
    list-style: none;
    font-family: 'roboto',sans-serif;
}

.flex-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
header h1 {
    display: flex;
    justify-content: center;
    font-family: 'roboto',sans-serif;
    color: hsl(182, 39.6%, 18.8%);
    font-weight: 800;
}

.navBar{
    display: flex;
    justify-content: space-around;
}

.navBarBut{
    background-color: hsl(186, 25.1%, 41.4%);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.highlightCurrentPageBut{   
    background-color: white;
    color: hsl(186, 25.1%, 41.4%);
    outline: 3px solid hsl(186, 25.1%, 41.4%);
}

.navBarBut:hover {
    background-color: white;
    color: hsl(186, 25.1%, 41.4%);
    outline: 3px solid hsl(186, 25.1%, 41.4%);
}
