h2{
    font-family: 'roboto',sans-serif;
    color: hsl(182, 39.6%, 18.8%);
    font-weight: 500;
}

.record{
    list-style: none;
    font-family: 'roboto',sans-serif;
}

#results{
    border: solid hsl(186, 25.1%, 41.4%)  3px;
    border-radius: 15px;
}